@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
header .nav-style {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
}

header .nav-style .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

header .nav-style .nav__content .nav-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-style .nav__content .nav-menu .nav-menu__ico {
  padding-left: 33px;
}

header .nav-style .nav__content .nav-menu .menu-btn:hover {
  cursor: pointer;
}

header .nav-style .nav__content .nav-menu .alarm {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  color: white;
  background: #F16D7F;
  text-align: center;
  line-height: 18.5px;
  position: absolute;
  right: -8px;
  top: -5px;
}

header .banner-wrap {
  margin: 0 auto;
  position: relative;
  background: #F8F3F4;
}

header .banner-wrap .banner {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .banner-wrap .banner .head-title {
  margin-top: 59px;
}

header .banner-wrap .banner .head-title h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

header .banner-wrap .hidden {
  display: none;
}

header .banner-wrap .banner-dark {
  background: rgba(0, 0, 0, 0.5);
  height: 627px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .banner-wrap .banner-dark .menu-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 232px;
  height: 627px;
  background: #fff;
  position: absolute;
  right: -2px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 0 20px 34px;
  overflow: auto;
}

header .banner-wrap .banner-dark .menu-block .menu_close {
  position: absolute;
  top: 16px;
  right: 16px;
}

header .banner-wrap .banner-dark .menu-block .menu_close:hover {
  cursor: pointer;
}

header .banner-wrap .banner-dark .menu-block .menu-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

header .banner-wrap .banner-dark .menu-block .menu-group {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 20px;
}

header .banner-wrap .banner-dark .menu-block .menu-section {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

@media (max-width: 1025px) {
  header .nav-style .nav__content {
    padding: 0 10px;
  }
}

@media (max-width: 712px) {
  header .nav-style .nav__content .nav-menu .acc-btn, header .nav-style .nav__content .nav-menu .cart-btn {
    display: none;
  }
  header .banner-wrap .banner {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .banner-wrap .banner .head-title {
    margin-top: 50px;
  }
}

footer .footer-middle {
  height: 448px;
  background-image: url(../img/footer_bgnd.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-middle .footer-middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

footer .footer-middle .footer-middle-container .info {
  padding-top: 96px;
}

footer .footer-middle .footer-middle-container .info-txt {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  margin-top: 27px;
}

footer .footer-middle .footer-middle-container .subscribe {
  margin-top: 150px;
}

footer .footer-middle .footer-middle-container .subscribe .sub-txt__top {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #222224;
}

footer .footer-middle .footer-middle-container .subscribe .sub-txt__bottom {
  font-size: 18px;
  line-height: 24px;
  width: 360px;
}

footer .footer-middle .footer-middle-container .subscribe .sub-submit {
  margin-top: 32px;
}

footer .footer-middle .footer-middle-container .subscribe .sub-submit .input-email {
  border: none;
  border-radius: 45px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  width: 225px;
  padding: 12px 22px;
  background: #E1E1E1;
}

footer .footer-middle .footer-middle-container .subscribe .sub-submit .input-email:focus {
  outline: none;
}

footer .footer-middle .footer-middle-container .subscribe .sub-submit .input-button {
  border: none;
  background: #F16D7F;
  color: white;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 22px;
  margin-left: -23px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

footer .footer-middle .footer-middle-container .subscribe .sub-submit .input-button:focus {
  outline: none;
}

footer .footer-bottom {
  height: 80px;
  background: #222224;
}

footer .footer-bottom .foot-b-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

footer .footer-bottom .foot-b-container .foot-b-rights .rights {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

@media (max-width: 1025px) {
  footer .footer-middle {
    height: 639px;
    background-position-x: 25%;
  }
  footer .footer-middle .footer-middle-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-middle .footer-middle-container .info {
    padding-top: 60px;
  }
  footer .footer-middle .footer-middle-container .subscribe {
    margin-top: 55px;
  }
  footer .footer-middle .footer-bottom .foot-b-container {
    padding: 20px;
  }
}

@media (max-width: 712px) {
  footer .footer-middle .footer-middle-container .info-txt {
    font-size: 18px;
    line-height: 22px;
  }
  footer .footer-middle .footer-middle-container .subscribe .sub-txt__bottom {
    font-size: 14px;
    line-height: 21px;
  }
  footer .footer-middle .footer-middle-container .subscribe .sub-submit .input-email {
    width: 210px;
  }
  footer .footer-bottom {
    height: 143px;
  }
  footer .footer-bottom .foot-b-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    padding-top: 40px;
  }
  footer .footer-bottom .foot-b-container .foot-b-rights {
    margin-top: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-top: 16px;
  margin-left: 27px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

main .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px 0 96px;
}

main .content-box .form-box {
  width: 360px;
}

main .content-box .form-box form .block_titel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

main .content-box .form-box form .input-style {
  border-radius: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 18px;
  border-color: #A4A4A4;
  margin-bottom: 20px;
}

main .content-box .form-box form .gndr_block {
  margin: 31px 0 28px;
}

main .content-box .form-box form .gndr_block-text {
  font-weight: 300;
  font-size: 11px;
  display: block;
  line-height: 25px;
  color: #000000;
}

main .content-box .form-box form .note {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

main .content-box .form-box form .btn_box {
  margin-top: 39px;
}

main .content-box .form-box form .btn_box .btn_style {
  height: 50px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 29px;
  background-color: #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .content-box .form-box form .btn_box .btn_style:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #333333;
  background-color: #98ff9d;
  border: 1px solid #A4A4A4;
}

main .content-box .info-box {
  max-width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

main .content-box .info-box-titel {
  margin-bottom: 22px;
}

main .content-box .info-box-text {
  margin-bottom: 21px;
}

main .content-box .info-box ul {
  padding: 0;
}

main .content-box .info-box ul li {
  list-style-image: url(../img/checked-ico.svg);
  padding-left: 22px;
}

@media (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
  main .content-box {
    margin-top: 40px;
  }
  main .content-box .info-box {
    max-width: 354px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 712px) {
  .container {
    max-width: 360px;
  }
  main .content-box .info-box {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */